<div class="side-bar-container">
    <div class="side-bar-logo">
        <img class="centered-picture logo-picture" src="../images/logo.png">
    </div>
    <div class="side-bar-categories-wrapper">
        <ul class="side-bar-categories-list">
            <li class="side-bar-categories-list-element"><div class="side-bar-categories-list-element-picto-wrapper"><img class="side-bar-categories-list-element-picto" src="./images/crea-picto.png"></div><div class="side-bar-categories-list-element-text"><a href="/createaudience">CREATION DE SEGMENTS</a></div></li>
            <li class="side-bar-categories-list-element"><img class="side-bar-categories-list-element-picto" src="../images/audience-picto.png"><div class="side-bar-categories-list-element-text"><a ui-sref=".manageaudience">MES AUDIENCES</a></div></li>
            <li class="side-bar-categories-list-element"><img class="side-bar-categories-list-element-picto" src="../images/data-picto.png"><div class="side-bar-categories-list-element-text"><a ui-sref=".mydata">MES DATAS</a></div></li>
        </ul>
    </div>
</div>